<?xml version="1.0" encoding="UTF-8"?>
<testsuite name="{{suite_name}}" tests="{{tests}}" skipped="{{skipped}}" failures="{{failures}}" errors="{{errors}}" timestamp="{{timestamp}}" hostname="{{hostname}}" time="{{time}}">
  <properties/>
  {{#each test_case}}
      {{#if failure}}
  <testcase name="{{name}}" classname="{{module}}" time="{{time}}">
      <failure message="{{failure_message}}">
{{failure_std_out}}
      </failure>
  </testcase>
      {{else}}
  <testcase name="{{name}}" classname="{{module}}" time="{{time}}"/>
      {{/if}}

  {{/each}}

  <system-out><![CDATA[]]></system-out>
  <system-err><![CDATA[]]></system-err>
</testsuite>